.section-hero {
  background: #2f303a;
  display: flex;
  height: 400px;
  background-image: url(../images/header-img/Header-img-m.jpg);
  background-image: image-set(
    "../images/header-img/Header-img-m.jpg" 1x,
    "../images/header-img/Header-img-m@2x.jpg" 2x
  );
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  padding: 118px 60px;
  position: relative;

  &__overlay {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
  }
}
@media screen and (min-width: $mobile-breakpoint) {
  .section-hero {
    background-image: url(../images/header-img/Header-img-t.jpg);
    background-image: image-set(
      "../images/header-img/Header-img-t.jpg" 1x,
      "../images/header-img/Header-img-t@2x.jpg" 2x
    );
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .section-hero {
    height: 600px;
    padding: 200px 452px 280px 452px;
    background-image: url(../images/header-img/Header-img-d.jpg);
    background-image: image-set(
      "../images/header-img/Header-img-d.jpg" 1x,
      "../images/header-img/Header-img-d@2x.jpg" 2x
    );

    &__title {
      font-size: 44px;
      line-height: 60px;
      max-width: 696px;
      overflow: hidden;
      white-space: wrap;
    }
  }
}
